# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\C-Code\CSE360\Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
